.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view
{
	padding: 15px 0;
}

.grid-view table.items
{
	background: white;
	border-collapse: collapse;
	width: 100%;
	border: 1px #D0E3EF solid;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 0.9em;
	border: solid 1px #ddd;
	padding: 0.3em;
}

.grid-view table.items th
{
	color: #000;
	background:#fff;
	text-align: left;
}

.grid-view table.items th a
{
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	color: #000;
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.even
{
	background: #F8F8F8;
}

.grid-view table.items tr.odd
{
	background: #E5F1F4;
}

.grid-view table.items tr.selected
{
	background: #BCE774;
}

.grid-view table.items tr:hover.selected
{
	background: #CCFF66;
}

.grid-view table.items tbody tr:hover
{
	background: #ECFBD4;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: left;
	width: 45px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}

.grid-view table.items th, .grid-view table.items td {
    border: 1px solid #DDDDDD;
    font-size: 0.9em;
    padding: 0.3em;
}
.grid-view .checkbox-column {
    width: 15px;
}
.grid-view table.items th {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    text-align: left;
}
.grid-view table.items th a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
.grid-view table.items th a:hover
{
	color: #000;
}
.grid-view {
    padding: 1px 0;
}

.grid-view table.items tr.odd {
    background:#fff;
}
.grid-view table.items tr.even
{
	background: #F8F8F8;
}

.grid-view table.items tr.odd
{
	background: #fff;
}

.grid-view table.items tr.selected
{
	background: #f4f4f4;
}

.grid-view table.items tr:hover.selected
{
	background: #f4f4f4;
}

.grid-view table.items tbody tr:hover
{
	background: #f4f4f4;
}
.grid-view table.items th {
    background:#f1faff !important;
}
