#popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	/*border: solid 5px #999;*/
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; box-shadow:0 0 5px #000;
}

#popup_title {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	line-height:36px;
	color: #000;
	background:linear-gradient(to bottom, #fefefe 0%, #f1f1f1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	/*border: solid 1px #FFF;
	border-bottom: solid 1px #999;*/
	cursor: default;
	padding: 0em;
	margin: 0em; border-radius:5px 5px 0 0;
}

#popup_content {
	background: 16px 16px no-repeat url(../../images/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_content.alert {
	background-image: url(../../images/info.gif);
}

#popup_content.confirm {
	background-image: url("../../images/project-complete-btn.png"); background-size:40px;
}

#popup_content.prompt {
	background-image: url(../../images/help.gif);
}

#popup_message {
	padding-left: 48px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}