@font-face {
    font-family: 'RobotoRegular';
    src: url('./font/roboto-regular.eot');
    src: url('./font/roboto-regular.eot') format('embedded-opentype'),
         url('./font/roboto-regular.woff') format('woff'),
         url('./font/roboto-regular.ttf') format('truetype'),
         url('./font/roboto-regular.svg#RobotoRegular') format('svg');
}

@font-face {
    font-family: 'CambriaRegular';
    src: url('./font/cambria.eot');
    src: url('./font/cambria.eot') format('embedded-opentype'),
         url('./font/cambria.woff') format('woff'),
         url('./font/cambria.ttf') format('truetype'),
         url('./font/cambria.svg#CambriaRegular') format('svg');
}


@font-face {
    font-family: 'OpenSansRegular';
    src: url('./font/opensans-regular.eot');
    src: url('./font/opensans-regular.eot') format('embedded-opentype'),
         url('./font/opensans-regular.woff') format('woff'),
         url('./font/opensans-regular.ttf') format('truetype'),
         url('./font/opensans-regular.svg#OpenSansRegular') format('svg');
}


body {
    color: #333333;
    font-size: 13px;
    line-height: 1.6;
}
p, li, li a {
    color: #555555;
}
a {
    color: #0088cc;
    text-decoration: none;
}
a, a:focus, a:hover, a:active {
    outline: 0 none !important; text-decoration:none !important;
}
a:focus {
    text-decoration: none;
}
a:hover {
    color: #0088cc;
    text-decoration: underline;
}
hr {
    margin: 30px 0;
}
h1 {
    font-size: 28px;
    line-height: 35px;
}
h2 {
    font-size: 24px;
    line-height: 33px;
}
h3 {
    font-size: 20px;
    line-height: 27px;
}
h4 {
    line-height: 25px;
}
h5 {
    line-height: 20px;
}
h6 {
    line-height: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #585F69;
    font-family: 'Open Sans',sans-serif;
    font-weight: normal;
    margin-top: 5px;
    text-shadow: none;
}
h1 i, h2 i, h3 i, h4 i, h5 i, h6 i {
    margin-right: 5px;
}
.headline {
    border-bottom: 1px dotted #E4E9F0;
    display: block;
    margin: 10px 0 25px;
}
.headline h2 {
    font-size: 22px;
}
.headline h2, .headline h3, .headline h4 {
    border-bottom: 2px solid #72C02C;
    display: inline-block;
    margin: 0 0 -2px;
    padding-bottom: 5px;
}
.headline-md {
    margin-bottom: 15px;
}
.headline-md h2 {
    font-size: 21px;
}
.heading {
    text-align: center;
}
.heading h2 {
    display: inline-block;
    line-height: 34px !important;
    padding: 0 12px;
    position: relative;
}
.heading h2:before, .heading h2:after {
    border-color: #BBBBBB;
    border-width: 1px;
    content: " ";
    position: absolute;
    width: 70%;
}
.heading h2:before {
    right: 100%;
}
.heading h2:after {
    left: 100%;
}
@media (max-width: 768px) {
.heading h2:before, .heading h2:after {
    width: 35%;
}
}
@media (max-width: 600px) {
.heading h2 {
    font-size: 19px;
}
.heading h2:before, .heading h2:after {
    width: 15%;
}
}
.heading-v1 h2:before, .heading-v1 h2:after {
    border-bottom-style: solid;
    border-top-style: solid;
    height: 6px;
    top: 15px;
}
.heading-v2 h2:before, .heading-v2 h2:after {
    border-bottom-style: dashed;
    border-top-style: dashed;
    height: 6px;
    top: 15px;
}
.heading-v3 h2:before, .heading-v3 h2:after {
    border-bottom-style: dotted;
    border-top-style: dotted;
    height: 6px;
    top: 15px;
}
.heading-v4 h2:before, .heading-v4 h2:after {
    border-bottom-style: solid;
    top: 17px;
}
.heading-v5 h2:before, .heading-v5 h2:after {
    border-bottom-style: dashed;
    top: 17px;
}
.heading-v6 h2:before, .heading-v6 h2:after {
    border-bottom-style: dotted;
    top: 17px;
}
h2.heading-md {
    font-size: 30px;
    line-height:45px;
}
h2.heading-sm, h3.heading-md {
    font-size: 18px;
    line-height: 24px;
}
h3.heading-md {
    line-height: 22px;
}
h3.heading-sm {
    font-size: 16px;
    line-height: 20px;
}
h3.heading-xs {
    font-size: 14px;
    margin-bottom: 5px; text-align:center;
}
.devider.devider-dotted {
    border-top: 2px dotted #EEEEEE;
}
.devider.devider-dashed {
    border-top: 2px dashed #EEEEEE;
}
.devider.devider-db {
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    height: 5px;
}
.devider.devider-db-dashed {
    border-bottom: 1px dashed #DDDDDD;
    border-top: 1px dashed #DDDDDD;
    height: 5px;
}
.devider.devider-db-dotted {
    border-bottom: 1px dotted #DDDDDD;
    border-top: 1px dotted #DDDDDD;
    height: 5px;
}
.table thead > tr > th {
    border-bottom: medium none;
}
@media (max-width: 768px) {
.table th.hidden-sm, .table td.hidden-sm {
    display: none !important;
}
}
.form-control {
    box-shadow: none;
}
.form-control:focus {
    border-color: #BBBBBB;
    box-shadow: 0 0 2px #C9C9C9;
}
.form-spacing .form-control {
    margin-bottom: 15px;
}
.input-group-addon {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #B3B3B3;
    font-size: 14px;
}
.carousel-v1 .carousel-caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    padding: 7px 15px;
    right: 0;
}
.carousel-v1 .carousel-caption p {
    color: #FFFFFF;
    margin-bottom: 0;
}
.carousel-v1 .carousel-arrow a.carousel-control {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 30px;
    height: inherit;
    opacity: 1;
    position: inherit;
    text-shadow: none;
    width: inherit;
}
.carousel-v1 .carousel-arrow a i {
    background: none repeat scroll 0 0 #000000;
    margin-top: -18px;
    opacity: 0.6;
    padding: 2px 12px;
    position: absolute;
    top: 50%;
}
.carousel-v1 .carousel-arrow a i:hover {
    opacity: 0.8;
}
.carousel-v1 .carousel-arrow a.left i {
    left: 0;
}
.carousel-v1 .carousel-arrow a.right i {
    right: 0;
}
.tab-v1 .nav-tabs {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: -moz-use-text-color -moz-use-text-color #72C02C;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 2px;
}
.tab-v1 .nav-tabs a {
    font-size: 14px;
    padding: 5px 15px;
}
.tab-v1 .nav-tabs > .active > a, .tab-v1 .nav-tabs > .active > a:hover, .tab-v1 .nav-tabs > .active > a:focus {
    background: none repeat scroll 0 0 #72C02C;
    border: medium none;
    color: #FFFFFF;
}
.tab-v1 .nav-tabs > li > a {
    border: medium none;
}
.tab-v1 .nav-tabs > li > a:hover {
    background: none repeat scroll 0 0 #72C02C;
    color: #FFFFFF;
}
.tab-v1 .tab-content {
    padding: 10px 0;
}
.tab-v1 .tab-content img {
    margin-bottom: 15px;
    margin-top: 4px;
}
.tab-v1 .tab-content img.img-tab-space {
    margin-top: 7px;
}
.tab-v2 .nav-tabs {
    border-bottom: medium none;
}
.tab-v2 .nav-tabs li a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    padding: 9px 16px;
}
.tab-v2 .nav-tabs li.active a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: medium none !important;
    border-image: none;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-top: 2px solid #1abc9c;
    padding: 7px 15px 9px;
}
.tab-v2 .tab-content {
    border: 1px solid #EEEEEE;
    padding: 10px 16px;
}
.tab-v3 .nav-pills li a {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #EEEEEE;
    color: #777777;
    font-size: 17px;
    margin-bottom: 3px;
    padding: 4px 8px;
}
.tab-v3 .nav-pills li a:hover, .tab-v3 .nav-pills li.active a {
    background: none repeat scroll 0 0 #72C02C;
    border: 1px solid #68AF28;
    color: #FFFFFF;
}
.tab-v3 .nav-pills li i {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    width: 1.25em;
}
.tab-v3 .tab-content {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #EEEEEE;
    padding: 15px;
}
.acc-v1 .panel-heading {
    box-shadow: none;
    padding: 0;
}
.acc-v1 .panel-heading a {
    background: none repeat scroll 0 0 #FEFEFE;
    display: block;
    font-size: 14px;
    padding: 5px 15px;
}
.acc-icon a.accordion-toggle i {
    color: #585F69;
    margin-right: 8px;
}
.acc-icon a.accordion-toggle:hover i {
    color: #39414C;
}
.pagination li a {
    color: #777777;
    padding: 5px 15px;
}
.pagination li a:hover {
    background: none repeat scroll 0 0 #5FB611;
    border-color: #5FB611;
    color: #FFFFFF;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #72C02C;
    border-color: #72C02C;
}
.pagination-no-space .pagination {
    margin: 0;
}
.pager li > a:hover, .pager li > a:focus {
    background:#1ABC9C !important;
    border-color: #14ac8e !important;
    color: #FFFFFF !important;
}
.sidebar-nav-v1 li {
    padding: 0;
}
.sidebar-nav-v1 li a {
    display: block;
    padding: 8px 30px 8px 10px;
}
.sidebar-nav-v1 li a:hover {
    text-decoration: none;
}
.sidebar-nav-v1 > li.active, .sidebar-nav-v1 > li.active:hover {
    background: none repeat scroll 0 0 #717984;
}
.sidebar-nav-v1 > li.active > a {
    color: #FFFFFF;
}
.sidebar-nav-v1 li ul {
    list-style: none outside none;
    padding: 0;
}
.sidebar-nav-v1 li ul, .sidebar-nav-v1 li.active ul a {
    background: none repeat scroll 0 0 #F8F8F8;
}
.sidebar-nav-v1 li ul a {
    border-top: 1px solid #DDDDDD;
    color: #585F69;
    font-size: 12px;
    padding: 6px 30px 6px 17px;
}
.sidebar-nav-v1 ul li:hover a, .sidebar-nav-v1 ul li.active a {
    color: #72C02C;
}
.list-group-item li > .badge {
    float: right;
}
.sidebar-nav-v1 span.badge {
    margin-right: 10px;
    margin-top: 8px;
}
.sidebar-nav-v1 .list-toggle > span.badge {
    margin-right: 25px;
}
.sidebar-nav-v1 ul li span.badge {
    font-size: 11px;
    margin-right: 10px;
    margin-top: 8px;
    padding: 3px 5px;
}
.list-toggle:after {
    color: #777777;
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    right: 10px;
    top: 7px;
}
.list-toggle.active:after {
    color: #FFFFFF;
    content: "";
}
.sidebar-nav-v1 li [class^="fa"], .sidebar-nav-v1 li [class*=" fa"] {
    display: inline-block;
    left: -2px;
    margin-right: 2px;
    position: relative;
    text-align: center;
    width: 1.25em;
}
.sidebar-nav-v1 li .fa-lg[class^="fa"], .sidebar-nav-v1 li .fa-lg[class*=" fa"] {
    width: 1.5625em;
}
.btn {
    box-shadow: none;
}
.btn-u {
    background: none repeat scroll 0 0 #72C02C;
    border: 0 none;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    text-decoration: none; text-align:center;
}
.btn-u:hover {
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
}
a.btn-u {
}
.btn-u-sm, a.btn-u-sm {
    padding: 4px 12px;
}
.btn-u-lg, a.btn-u-lg {
    font-size: 16px;
    padding: 8px 24px;
}
.btn-u-xs, a.btn-u-xs {
    font-size: 12px;
    line-height: 18px;
    padding: 2px 12px;
}
.btn-group .dropdown-menu > li > a {
    padding: 3px 13px;
}
.btn-group > .btn-u, .btn-group-vertical > .btn-u {
    float: left;
    position: relative;
}
.btn-group > .btn-u:first-child {
    margin-left: 0;
}
@-moz-document url-prefix("") {
.footer-subsribe .btn-u {
    padding-bottom: 4px;
}
}
@media (max-width: 768px) {
@-moz-document url-prefix("") {
.btn-u {
    padding-bottom: 6px;
}
}
}
.btn-u:hover, .btn-u:focus, .btn-u:active, .btn-u.active, .open .dropdown-toggle.btn-u {
    background: none repeat scroll 0 0 #5FB611;
}
.btn-u-split.dropdown-toggle {
    border-left: 1px solid #5FB611;
}
.btn-u.btn-u-blue {
    background: none repeat scroll 0 0 #3498DB;
}
.btn-u.btn-u-blue:hover, .btn-u.btn-u-blue:focus, .btn-u.btn-u-blue:active, .btn-u.btn-u-blue.active, .open .dropdown-toggle.btn-u.btn-u-blue {
    background: none repeat scroll 0 0 #2980B9;
}
.btn-u.btn-u-split-blue.dropdown-toggle {
    border-left: 1px solid #2980B9;
}
.btn-u.btn-u-red {
    background: none repeat scroll 0 0 #E74C3C;
}
.btn-u.btn-u-red:hover, .btn-u.btn-u-red:focus, .btn-u.btn-u-red:active, .btn-u.btn-u-red.active, .open .dropdown-toggle.btn-u.btn-u-red {
    background: none repeat scroll 0 0 #C0392B;
}
.btn-u.btn-u-split-red.dropdown-toggle {
    border-left: 1px solid #C0392B;
}
.btn-u.btn-u-orange {
    background: none repeat scroll 0 0 #E67E22;
}
.btn-u.btn-u-orange:hover, .btn-u.btn-u-orange:focus, .btn-u.btn-u-orange:active, .btn-u.btn-u-orange.active, .open .dropdown-toggle.btn-u.btn-u-orange {
    background: none repeat scroll 0 0 #D35400;
}
.btn-u.btn-u-split-orange.dropdown-toggle {
    border-left: 1px solid #D35400;
}
.btn-u.btn-u-sea {
    background: none repeat scroll 0 0 #1ABC9C;
}
.btn-u.btn-u-sea:hover, .btn-u.btn-u-sea:focus, .btn-u.btn-u-sea:active, .btn-u.btn-u-sea.active, .open .dropdown-toggle.btn-u.btn-u-sea {
    background: none repeat scroll 0 0 #16A085;
}
.btn-u.btn-u-split-sea.dropdown-toggle {
    border-left: 1px solid #16A085;
}
.btn-u.btn-u-green {
    background: none repeat scroll 0 0 #2ECC71;
}
.btn-u.btn-u-green:hover, .btn-u.btn-u-green:focus, .btn-u.btn-u-green:active, .btn-u.btn-u-green.active, .open .dropdown-toggle.btn-u.btn-u-green {
    background: none repeat scroll 0 0 #27AE60;
}
.btn-u.btn-u-split-green.dropdown-toggle {
    border-left: 1px solid #27AE60;
}
.btn-u.btn-u-yellow {
    background: none repeat scroll 0 0 #F1C40F;
}
.btn-u.btn-u-yellow:hover, .btn-u.btn-u-yellow:focus, .btn-u.btn-u-yellow:active, .btn-u.btn-u-yellow.active, .open .dropdown-toggle.btn-u.btn-u-yellow {
    background: none repeat scroll 0 0 #F39C12;
}
.btn-u.btn-u-split-yellow.dropdown-toggle {
    border-left: 1px solid #F39C12;
}
.btn-u.btn-u-default {
    background: none repeat scroll 0 0 #95A5A6;
}
.btn-u.btn-u-default:hover, .btn-u.btn-u-default:focus, .btn-u.btn-u-default:active, .btn-u.btn-u-default.active, .open .dropdown-toggle.btn-u.btn-u-default {
    background: none repeat scroll 0 0 #7F8C8D;
}
.btn-u.btn-u-split-default.dropdown-toggle {
    border-left: 1px solid #7F8C8D;
}
.btn-u.btn-u-purple {
    background: none repeat scroll 0 0 #9B6BCC;
}
.btn-u.btn-u-purple:hover, .btn-u.btn-u-purple:focus, .btn-u.btn-u-purple:active, .btn-u.btn-u-purple.active, .open .dropdown-toggle.btn-u.btn-u-purple {
    background: none repeat scroll 0 0 #814FB5;
}
.btn-u.btn-u-split-purple.dropdown-toggle {
    border-left: 1px solid #814FB5;
}
.btn-u.btn-u-aqua {
    background: none repeat scroll 0 0 #27D7E7;
}
.btn-u.btn-u-aqua:hover, .btn-u.btn-u-aqua:focus, .btn-u.btn-u-aqua:active, .btn-u.btn-u-aqua.active, .open .dropdown-toggle.btn-u.btn-u-aqua {
    background: none repeat scroll 0 0 #26BAC8;
}
.btn-u.btn-u-split-aqua.dropdown-toggle {
    border-left: 1px solid #26BAC8;
}
.btn-u.btn-u-brown {
    background: none repeat scroll 0 0 #9C8061;
}
.btn-u.btn-u-brown:hover, .btn-u.btn-u-brown:focus, .btn-u.btn-u-brown:active, .btn-u.btn-u-brown.active, .open .dropdown-toggle.btn-u.btn-u-brown {
    background: none repeat scroll 0 0 #81674B;
}
.btn-u.btn-u-split-brown.dropdown-toggle {
    border-left: 1px solid #81674B;
}
.btn-u.btn-u-dark-blue {
    background: none repeat scroll 0 0 #4765A0;
}
.btn-u.btn-u-dark-blue:hover, .btn-u.btn-u-dark-blue:focus, .btn-u.btn-u-dark-blue:active, .btn-u.btn-u-dark-blue.active, .open .dropdown-toggle.btn-u.btn-u-dark-blue {
    background: none repeat scroll 0 0 #324C80;
}
.btn-u.btn-u-split-dark.dropdown-toggle {
    border-left: 1px solid #324C80;
}
.btn-u.btn-u-light-green {
    background: none repeat scroll 0 0 #79D5B3;
}
.btn-u.btn-u-light-green:hover, .btn-u.btn-u-light-green:focus, .btn-u.btn-u-light-green:active, .btn-u.btn-u-light-green.active, .open .dropdown-toggle.btn-u.btn-u-light-green {
    background: none repeat scroll 0 0 #59B795;
}
.btn-u.btn-u-split-light-green.dropdown-toggle {
    border-left: 1px solid #59B795;
}
.btn-u.btn-u-dark {
    background: none repeat scroll 0 0 #555555;
}
.btn-u.btn-u-dark:hover, .btn-u.btn-u-dark:focus, .btn-u.btn-u-dark:active, .btn-u.btn-u-dark.active, .open .dropdown-toggle.btn-u.btn-u-dark {
    background: none repeat scroll 0 0 #333333;
}
.btn-u.btn-u-split-dark.dropdown-toggle {
    border-left: 1px solid #333333;
}
.btn-u.btn-u-light-grey {
    background: none repeat scroll 0 0 #585F69;
}
.btn-u.btn-u-light-grey:hover, .btn-u.btn-u-light-grey:focus, .btn-u.btn-u-light-grey:active, .btn-u.btn-u-light-grey.active, .open .dropdown-toggle.btn-u.btn-u-light-grey {
    background: none repeat scroll 0 0 #484F58;
}
.btn-u.btn-u-split-light-grey.dropdown-toggle {
    border-left: 1px solid #484F58;
}
.btn-u.btn-brd {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    color: #555555;
    font-weight: 200;
    transition: all 0.1s ease-in-out 0s;
}
.btn-u.btn-brd:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #EEEEEE;
}
.btn-u.btn-brd:focus {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.btn-u.btn-brd.btn-brd-hover:hover {
    color: #FFFFFF !important;
}
.btn-u.btn-brd {
    border-color: #72C02C;
}
.btn-u.btn-brd:hover {
    border-color: #5FB611;
    color: #5FB611;
}
.btn-u.btn-brd.btn-brd-hover:hover {
    background: none repeat scroll 0 0 #5FB611;
}
.btn-u.btn-brd.btn-u-blue {
    border-color: #3498DB;
}
.btn-u.btn-brd.btn-u-blue:hover {
    border-color: #2980B9;
    color: #2980B9;
}
.btn-u.btn-brd.btn-u-blue.btn-brd-hover:hover {
    background: none repeat scroll 0 0 #2980B9;
}
.btn-u.btn-brd.btn-u-red {
    border-color: #E74C3C;
}
.btn-u.btn-brd.btn-u-red:hover {
    border-color: #C0392B;
    color: #C0392B;
}
.btn-u.btn-brd.btn-u-red.btn-brd-hover:hover {
    background: none repeat scroll 0 0 #C0392B;
}
.btn-u.btn-brd.btn-u-orange {
    border-color: #E67E22;
}
.btn-u.btn-brd.btn-u-orange:hover {
    border-color: #D35400;
    color: #D35400;
}
.btn-u.btn-brd.btn-u-orange.btn-brd-hover:hover {
    background: none repeat scroll 0 0 #D35400;
}
.btn-u.btn-brd.btn-u-sea {
    border-color: #1ABC9C;
}
.btn-u.btn-brd.btn-u-sea:hover {
    border-color: #16A085;
    color: #16A085;
}
.btn-u.btn-brd.btn-u-sea.btn-brd-hover:hover {
    background: none repeat scroll 0 0 #16A085;
}
.btn-u.btn-brd.btn-u-green {
    border-color: #2ECC71;
}
.btn-u.btn-brd.btn-u-green:hover {
    border-color: #27AE60;
    color: #27AE60;
}
.btn-u.btn-brd.btn-u-green.btn-brd-hover:hover {
    background: none repeat scroll 0 0 #27AE60;
}
.btn-u.btn-brd.btn-u-yellow {
    border-color: #F1C40F;
}
.btn-u.btn-brd.btn-u-yellow:hover {
    border-color: #F39C12;
    color: #F39C12;
}
.btn-u.btn-brd.btn-u-yellow.btn-brd-hover:hover {
    background: none repeat scroll 0 0 #F39C12;
}
.btn-u.btn-brd.btn-u-default {
    border-color: #95A5A6;
}
.btn-u.btn-brd.btn-u-default:hover {
    border-color: #7F8C8D;
    color: #7F8C8D;
}
.btn-u.btn-brd.btn-u-default.btn-brd-hover:hover {
    background: none repeat scroll 0 0 #7F8C8D;
}
.btn-u.btn-brd.btn-u-dark {
    border-color: #555555;
}
.btn-u.btn-brd.btn-u-dark:hover {
    border-color: #333333;
    color: #333333;
}
.btn-u.btn-brd.btn-u-dark.btn-brd-hover:hover {
    background: none repeat scroll 0 0 #333333;
}
.btn-u.btn-brd.btn-u-light-grey {
    border-color: #585F69;
}
.btn-u.btn-brd.btn-u-light-grey:hover {
    border-color: #484F58;
    color: #484F58;
}
.btn-u.btn-brd.btn-u-light-grey.btn-brd-hover:hover {
    background: none repeat scroll 0 0 #484F58;
}
.btn-u.btn-brd.btn-u-purple {
    border-color: #9B6BCC;
}
.btn-u.btn-brd.btn-u-purple:hover {
    border-color: #814FB5;
    color: #814FB5;
}
.btn-u.btn-brd.btn-u-purple.btn-brd-hover:hover {
    background: none repeat scroll 0 0 #814FB5;
}
.btn-u.btn-brd.btn-u-aqua {
    border-color: #27D7E7;
}
.btn-u.btn-brd.btn-u-aqua:hover {
    border-color: #26BAC8;
    color: #26BAC8;
}
.btn-u.btn-brd.btn-u-aqua.btn-brd-hover:hover {
    background: none repeat scroll 0 0 #26BAC8;
}
.btn-u.btn-brd.btn-u-brown {
    border-color: #9C8061;
}
.btn-u.btn-brd.btn-u-brown:hover {
    border-color: #81674B;
    color: #81674B;
}
.btn-u.btn-brd.btn-u-brown.btn-brd-hover:hover {
    background: none repeat scroll 0 0 #81674B;
}
.btn-u.btn-brd.btn-u-dark-blue {
    border-color: #4765A0;
}
.btn-u.btn-brd.btn-u-dark-blue:hover {
    border-color: #324C80;
    color: #324C80;
}
.btn-u.btn-brd.btn-u-dark-blue.btn-brd-hover:hover {
    background: none repeat scroll 0 0 #324C80;
}
.btn-u.btn-brd.btn-u-light-green {
    border-color: #79D5B3;
}
.btn-u.btn-brd.btn-u-light-green:hover {
    border-color: #59B795;
    color: #59B795;
}
.btn-u.btn-brd.btn-u-light-green.btn-brd-hover:hover {
    background: none repeat scroll 0 0 #59B795;
}
.btn-u.btn-brd.btn-u-light {
    border-color: #FFFFFF;
    color: #FFFFFF;
}
.btn-u.btn-brd.btn-u-light:hover {
    border-color: #FFFFFF;
}
.btn-u.btn-brd.btn-u-light.btn-brd-hover:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #555555 !important;
}
span.label {
    font-size: 11px;
    font-weight: 400;
    padding: 4px 7px;
}
span.badge {
    font-weight: 400;
    padding: 4px 7px;
}
span.label-u, span.badge-u {
    background: none repeat scroll 0 0 #72C02C;
}
span.label-blue, span.badge-blue {
    background: none repeat scroll 0 0 #3498DB;
}
span.label-red, span.badge-red {
    background: none repeat scroll 0 0 #E74C3C;
}
span.label-green, span.badge-green {
    background: none repeat scroll 0 0 #2ECC71;
}
span.label-sea, span.badge-sea {
    background: none repeat scroll 0 0 #1ABC9C;
}
span.label-orange, span.badge-orange {
    background: none repeat scroll 0 0 #E67E22;
}
span.label-yellow, span.badge-yellow {
    background: none repeat scroll 0 0 #F1C40F;
}
span.label-purple, span.badge-purple {
    background: none repeat scroll 0 0 #9B6BCC;
}
span.label-aqua, span.badge-aqua {
    background: none repeat scroll 0 0 #27D7E7;
}
span.label-brown, span.badge-brown {
    background: none repeat scroll 0 0 #9C8061;
}
span.label-dark-blue, span.badge-dark-blue {
    background: none repeat scroll 0 0 #4765A0;
}
span.label-light-green, span.badge-light-green {
    background: none repeat scroll 0 0 #79D5B3;
}
span.label-light, span.badge-light {
    background: none repeat scroll 0 0 #ECF0F1;
    color: #777777;
}
span.label-dark, span.badge-dark {
    background: none repeat scroll 0 0 #555555;
}
.badge-lists li {
    position: relative;
}
.badge-lists span.badge {
    position: absolute;
    right: -6px;
    top: -10px;
}
.badge-lists.badge-icons span.badge {
    min-width: 12px;
    padding: 3px 6px;
}
.badge-lists.badge-icons i {
    font-size: 18px;
    min-width: 25px;
}
.badge-box-v1 a {
    border: 1px solid #EEEEEE;
    color: #777777;
    display: inline-block;
    font-size: 18px;
    min-width: 40px;
    padding: 8px 9px;
}
.badge-box-v2 a {
    border: 1px solid #EEEEEE;
    color: #777777;
    display: inline-block;
    font-size: 12px;
    min-width: 70px;
    padding: 10px;
    text-align: center;
}
.badge-box-v2 a i {
    font-size: 20px;
}
.badge-box-v1 a i, .badge-box-v2 a i {
    display: block;
    margin: 1px auto 2px;
}
.badge-box-v1 a:hover, .badge-box-v2 a:hover {
    border-color: #555555;
    color: #555555;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
}
.social-icons {
    margin: 0;
    padding: 0;
}
.social-icons li {
    display: inline-block;
    list-style: none outside none;
    margin-bottom: 5px;
    margin-right: 3px;
    text-indent: -9999px;
}
.social-icons li a, a.social-icon {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 28px;
    transition: all 0.3s ease-in-out 0s;
    width: 28px;
}
.social-icons li:hover a {
    background-position: 0 -38px;
}
.social-icons-color li a {
    background-position: 0 -38px !important;
    opacity: 0.7;
}
.social-icons-color li a:hover {
    opacity: 1;
}
.social_amazon {
    background: url("../img/icons/social/amazon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_behance {
    background: url("../img/icons/social/behance.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_blogger {
    background: url("../img/icons/social/blogger.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_deviantart {
    background: url("../img/icons/social/deviantart.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_dribbble {
    background: url("../img/icons/social/dribbble.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_dropbox {
    background: url("../img/icons/social/dropbox.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_evernote {
    background: url("../img/icons/social/evernote.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_facebook {
    background: url("../img/icons/social/facebook.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_forrst {
    background: url("../img/icons/social/forrst.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_github {
    background: url("../img/icons/social/github.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_googleplus {
    background: url("../img/icons/social/googleplus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_jolicloud {
    background: url("../img/icons/social/jolicloud.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_last-fm {
    background: url("../img/icons/social/last-fm.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_linkedin {
    background: url("../img/icons/social/linkedin.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_picasa {
    background: url("../img/icons/social/picasa.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_pintrest {
    background: url("../img/icons/social/pintrest.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_rss {
    background: url("../img/icons/social/rss.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_skype {
    background: url("../img/icons/social/skype.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_spotify {
    background: url("../img/icons/social/spotify.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_stumbleupon {
    background: url("../img/icons/social/stumbleupon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_tumblr {
    background: url("../img/icons/social/tumblr.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_twitter {
    background: url("../img/icons/social/twitter.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_vimeo {
    background: url("../img/icons/social/vimeo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_wordpress {
    background: url("../img/icons/social/wordpress.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_xing {
    background: url("../img/icons/social/xing.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_yahoo {
    background: url("../img/icons/social/yahoo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_youtube {
    background: url("../img/icons/social/youtube.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.social_vk {
    background: url("../img/icons/social/vk.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
i.icon-custom {
    border: 1px solid #555555;
    color: #555555;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
    text-align: center;
    width: 40px;
}
i.icon-sm {
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    width: 35px;
}
i.icon-lg {
    font-size: 31px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
    width: 60px;
}
i.icon-2x {
    font-size: 30px;
}
i.icon-3x {
    font-size: 40px;
}
i.icon-4x {
    font-size: 50px;
}
i.icon-line {
    font-size: 17px;
}
i.icon-sm.icon-line {
    font-size: 14px;
}
i.icon-lg.icon-line {
    font-size: 28px;
}
i.icon-2x.icon-line {
    font-size: 27px;
}
i.icon-3x.icon-line {
    font-size: 36px;
}
i.icon-4x.icon-line {
    font-size: 47px;
}
.link-icon, .link-bg-icon {
    color: #555555;
}
.link-icon:hover, .link-bg-icon:hover {
    border: medium none;
    text-decoration: none;
}
.link-icon:hover i {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #72C02C;
    color: #72C02C;
}
.link-bg-icon:hover i {
    background: none repeat scroll 0 0 #72C02C;
    border-color: #72C02C;
    color: #FFFFFF !important;
}
i.icon-color-u {
    border: 1px solid #72C02C;
    color: #72C02C;
}
i.icon-color-blue {
    border: 1px solid #3498DB;
    color: #3498DB;
}
i.icon-color-red {
    border: 1px solid #E74C3C;
    color: #E74C3C;
}
i.icon-color-sea {
    border: 1px solid #1ABC9C;
    color: #1ABC9C;
}
i.icon-color-green {
    border: 1px solid #2ECC71;
    color: #2ECC71;
}
i.icon-color-yellow {
    border: 1px solid #F1C40F;
    color: #F1C40F;
}
i.icon-color-orange {
    border: 1px solid #E67E22;
    color: #E67E22;
}
i.icon-color-grey {
    border: 1px solid #95A5A6;
    color: #95A5A6;
}
i.icon-color-purple {
    border: 1px solid #9B6BCC;
    color: #9B6BCC;
}
i.icon-color-aqua {
    border: 1px solid #27D7E7;
    color: #27D7E7;
}
i.icon-color-brown {
    border: 1px solid #9C8061;
    color: #9C8061;
}
i.icon-color-dark-blue {
    border: 1px solid #4765A0;
    color: #4765A0;
}
i.icon-color-light-green {
    border: 1px solid #79D5B3;
    color: #79D5B3;
}
i.icon-color-light {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
i.icon-color-light-grey {
    border: 1px solid #585F69;
    color: #585F69;
}
i.icon-bg-u, i.icon-bg-red, i.icon-bg-sea, i.icon-bg-dark, i.icon-bg-grey, i.icon-bg-blue, i.icon-bg-green, i.icon-bg-yellow, i.icon-bg-orange, i.icon-bg-purple, i.icon-bg-aqua, i.icon-bg-brown, i.icon-bg-dark-blue, i.icon-bg-light-grey, i.icon-bg-light-green {
    border-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
}
i.icon-bg-u {
    background: none repeat scroll 0 0 #72C02C;
}
i.icon-bg-blue {
    background: none repeat scroll 0 0 #3498DB;
}
i.icon-bg-red {
    background: none repeat scroll 0 0 #E74C3C;
}
i.icon-bg-sea {
    background: none repeat scroll 0 0 #1ABC9C;
}
i.icon-bg-green {
    background: none repeat scroll 0 0 #2ECC71;
}
i.icon-bg-yellow {
    background: none repeat scroll 0 0 #F1C40F;
}
i.icon-bg-orange {
    background: none repeat scroll 0 0 #E67E22;
}
i.icon-bg-grey {
    background: none repeat scroll 0 0 #95A5A6;
}
i.icon-bg-dark {
    background: none repeat scroll 0 0 #555555;
}
i.icon-bg-purple {
    background: none repeat scroll 0 0 #9B6BCC;
}
i.icon-bg-aqua {
    background: none repeat scroll 0 0 #27D7E7;
}
i.icon-bg-brown {
    background: none repeat scroll 0 0 #9C8061;
}
i.icon-bg-dark-blue {
    background: none repeat scroll 0 0 #4765A0;
}
i.icon-bg-light-green {
    background: none repeat scroll 0 0 #79D5B3;
}
i.icon-bg-light {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: rgba(0, 0, 0, 0);
}
i.icon-bg-light-grey {
    background: none repeat scroll 0 0 #585F69;
    border-color: rgba(0, 0, 0, 0);
}
.fa-fixed [class^="fa"], .fa-fixed [class*=" fa"] {
    display: inline-block;
    text-align: center;
    width: 1.25em;
}
.fa-fixed .fa-lg[class^="fa"], .fa-fixed .fa-lg[class*=" fa"] {
    width: 1.5625em;
}
.content-boxes-v1 {
    text-align: center;
}
.content-boxes-v1 span {
    display: block;
    margin-top: 5px;
}
@media (max-width: 992px) {
.content-boxes-v2, .content-boxes-v2 .text-justify {
    text-align: center;
}
.content-boxes-v2 span {
    display: block;
    margin-top: 5px;
}
}
.content-boxes-v3 {
    margin-bottom: 15px;
}
.content-boxes-v3 i {
    float: left;
    position: relative;
    top: 8px;
}
.content-boxes-v3 .content-boxes-in-v3 {
    overflow: hidden;
    padding: 0 10px;
}
.content-boxes-v3 .content-boxes-in-v3 h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 3px;
    text-transform: capitalize;
}
.content-boxes-v3 .content-boxes-in-v3 h3 a {
    color: #555555;
}
.servive-block {
    margin-bottom: 20px;
    padding: 12px 12px;
    text-align: center;
}
.servive-block p, .servive-block h2 {
    color: #FFFFFF;
}
.servive-block h2 a:hover {
    text-decoration: none;
}
.servive-block-light, .servive-block-default {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #EEEEEE;
}
.servive-block-default:hover {
    box-shadow: 0 0 8px #EEEEEE;
}
.servive-block-light p, .servive-block-light h2, .servive-block-default p, .servive-block-default h2 {
    color: #555555;
}
.servive-block-u {
    background: none repeat scroll 0 0 #72C02C;
}
.servive-block-blue {
    background: none repeat scroll 0 0 #3498DB;
}
.servive-block-red {
    background: none repeat scroll 0 0 #E74C3C;
}
.servive-block-sea {
    background: none repeat scroll 0 0 #1ABC9C;
}
.servive-block-grey {
    background: none repeat scroll 0 0 #95A5A6;
}
.servive-block-yellow {
    background: none repeat scroll 0 0 #F1C40F;
}
.servive-block-orange {
    background: none repeat scroll 0 0 #E67E22;
}
.servive-block-green {
    background: none repeat scroll 0 0 #2ECC71;
}
.servive-block-purple {
    background: none repeat scroll 0 0 #9B6BCC;
}
.servive-block-aqua {
    background: none repeat scroll 0 0 #27D7E7;
}
.servive-block-brown {
    background: none repeat scroll 0 0 #9C8061;
}
.servive-block-dark-blue {
    background: none repeat scroll 0 0 #4765A0;
}
.servive-block-light-green {
    background: none repeat scroll 0 0 #79D5B3;
}
.servive-block-dark {
    background: none repeat scroll 0 0 #555555;
}
.servive-block-light {
    background: none repeat scroll 0 0 #ECF0F1;
}
.funny-boxes {
    background: none repeat scroll 0 0 #F7F7F7;
    margin-bottom: 25px;
    overflow: hidden;
    padding: 15px 20px;
    transition: all 0.3s ease-in-out 0s;
}
.funny-boxes h2 a {
    color: #555555;
}
.funny-boxes p a {
    color: #72C02C;
}
.funny-boxes .funny-boxes-img li i {
    color: #72C02C;
    font-size: 12px;
    margin-right: 5px;
}
.funny-boxes .funny-boxes-img img {
    display: block;
    margin: 5px 10px 10px 0;
}
.funny-boxes h2 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
}
.funny-boxes ul.funny-boxes-rating li {
    display: inline;
}
.funny-boxes ul.funny-boxes-rating li i {
    color: #F8BE2C;
    cursor: pointer;
    font-size: 16px;
}
.funny-boxes ul.funny-boxes-rating li i:hover {
    color: #F8BE2C;
}
.funny-boxes-colored p, .funny-boxes-colored h2 a, .funny-boxes-colored .funny-boxes-img li, .funny-boxes-colored .funny-boxes-img li i {
    color: #FFFFFF !important;
}
.funny-boxes-red {
    background: none repeat scroll 0 0 #E74C3C;
}
.funny-boxes-blue {
    background: none repeat scroll 0 0 #3498DB;
}
.funny-boxes-grey {
    background: none repeat scroll 0 0 #95A5A6;
}
.funny-boxes-sea {
    background: none repeat scroll 0 0 #1ABC9C;
}
.funny-boxes-top-sea {
    border-top: 2px solid #1ABC9C;
}
.funny-boxes-top-sea:hover {
    border-top-color: #16A085;
}
.funny-boxes-top-yellow {
    border-top: 2px solid #F1C40F;
}
.funny-boxes-top-yellow:hover {
    border-top-color: #F39C12;
}
.funny-boxes-left-orange {
    border-left: 2px solid #E67E22;
}
.funny-boxes-left-orange:hover {
    border-left-color: #D35400;
}
.funny-boxes-left-green {
    border-left: 2px solid #72C02C;
}
.funny-boxes-left-green:hover {
    border-left-color: #5FB611;
}
.funny-boxes-right-u {
    border-right: 2px solid #72C02C;
}
.funny-boxes-right-u:hover {
    border-right-color: #5FB611;
}
.dropcap {
    color: #72C02C;
    float: left;
    font-size: 45px;
    font-weight: 200;
    line-height: 30px;
    margin: 0 5px 0 0;
    padding: 5px 0;
}
.dropcap-bg {
    background: none repeat scroll 0 0 #72C02C;
    color: #FFFFFF;
    float: left;
    font-size: 35px;
    font-weight: 200;
    line-height: 35px;
    margin: 4px 10px 0 0;
    min-width: 50px;
    padding: 7px 0;
    text-align: center;
}
.text-highlights {
    background: none repeat scroll 0 0 #555555;
    color: #FFFFFF;
    font-weight: 200;
    padding: 0 5px;
}
.text-highlights-green {
    background: none repeat scroll 0 0 #72C02C;
}
.text-highlights-blue {
    background: none repeat scroll 0 0 #3498DB;
}
.text-highlights-red {
    background: none repeat scroll 0 0 #E74C3C;
}
.text-highlights-sea {
    background: none repeat scroll 0 0 #1ABC9C;
}
.text-highlights-orange {
    background: none repeat scroll 0 0 #E67E22;
}
.text-highlights-yellow {
    background: none repeat scroll 0 0 #F1C40F;
}
.text-highlights-purple {
    background: none repeat scroll 0 0 #9B6BCC;
}
.text-highlights-aqua {
    background: none repeat scroll 0 0 #27D7E7;
}
.text-highlights-brown {
    background: none repeat scroll 0 0 #9C8061;
}
.text-highlights-dark-blue {
    background: none repeat scroll 0 0 #4765A0;
}
.text-highlights-light-green {
    background: none repeat scroll 0 0 #79D5B3;
}
.text-border {
    border-bottom: 1px dashed #555555;
}
.text-border-default {
    border-color: #95A5A6;
}
.text-border-green {
    border-color: #72C02C;
}
.text-border-blue {
    border-color: #3498DB;
}
.text-border-red {
    border-color: #E74C3C;
}
.text-border-yellow {
    border-color: #F1C40F;
}
.text-border-purple {
    border-color: #9B6BCC;
}
.list-styles li {
    margin-bottom: 8px;
}
.tooltips-show {
    position: relative;
}
.contex-bg p {
    opacity: 0.8;
    padding: 8px 10px;
}
.contex-bg p:hover {
    opacity: 1;
}
blockquote {
    border-left-width: 2px;
    padding: 5px 15px;
}
blockquote p {
    font-size: 14px;
    font-weight: 400;
}
blockquote h1, blockquote h2, blockquote span {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 8px;
}
blockquote.bq-text-lg p, blockquote.bq-text-lg small {
    text-transform: uppercase;
}
blockquote.bq-text-lg p {
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
}
blockquote.text-right, blockquote.hero.text-right {
    border-left: medium none;
    border-right: 2px solid #EEEEEE;
}
blockquote.hero.text-right, blockquote.hero.text-right:hover {
    border-color: #555555;
}
blockquote:hover, blockquote.text-right:hover {
    border-color: #72C02C;
    transition: all 0.4s ease-in-out 0s;
}
blockquote.bq-dark, blockquote.bq-dark:hover {
    border-color: #585F69;
}
blockquote.bq-green {
    border-color: #72C02C;
}
blockquote.hero {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F3F3F3;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #666666;
    border-image: none;
    border-style: none none none solid;
    border-width: medium medium medium 2px;
    font-size: 16px;
    padding: 18px;
}
blockquote.hero:hover {
    background: none repeat scroll 0 0 #EEEEEE;
    border-left-color: #666666;
}
blockquote.hero.hero-dark, blockquote.hero.hero-default {
    border: medium none;
}
blockquote.hero.hero-dark {
    background: none repeat scroll 0 0 #444444;
}
blockquote.hero.hero-dark:hover {
    background: none repeat scroll 0 0 #555555;
}
blockquote.hero.hero-default {
    background: none repeat scroll 0 0 #72C02C;
}
blockquote.hero.hero-default:hover {
    background: none repeat scroll 0 0 #5FB611;
}
blockquote.hero.hero-dark p, blockquote.hero.hero-dark h2, blockquote.hero.hero-dark small, blockquote.hero.hero-default p, blockquote.hero.hero-default h2, blockquote.hero.hero-default small {
    color: #FFFFFF;
    font-weight: 200;
}
.tag-box {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 30px;
    padding: 20px;
}
.tag-box h2 {
    font-size: 20px;
    line-height: 25px;
}
.tag-box p {
    margin-bottom: 0;
}
.tag-box.tag-text-space p {
    margin-bottom: 10px;
}
.tag-box-v1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #72C02C #EEEEEE #EEEEEE;
    border-image: none;
    border-right: 1px solid #EEEEEE;
    border-style: solid;
    border-width: 2px 1px 1px;
}
.tag-box-v2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FAFAFA;
    border-color: #EEEEEE #EEEEEE #EEEEEE #72C02C;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 2px;
}
.tag-box-v3 {
    border: 2px solid #EEEEEE;
}
.tag-box-v4 {
    border: 1px dashed #BBBBBB;
}
.tag-box-v5 {
    border: 1px dashed #CCCCCC;
    margin: 20px 0;
    text-align: center;
}
.tag-box-v5 span {
    color: #555555;
    font-size: 28px;
    margin-bottom: 0;
}
.tag-box-v6 {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #EEEEEE;
}
.tag-box-v7 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE #EEEEEE #72C02C;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 2px;
}
.testimonials {
    margin-bottom: 10px;
}
.testimonials .testimonial-info {
    color: #72C02C;
    font-size: 16px;
    margin-top: 18px;
    padding: 0 15px;
}
.testimonials .testimonial-info span {
    position: relative;
    top: 3px;
}
.testimonials .testimonial-info em {
    color: #777777;
    display: block;
    font-size: 13px;
}
.testimonials .testimonial-info img {
    border: 1px solid #CCCCCC;
    float: left;
    height: 60px;
    margin-right: 15px;
    padding: 2px;
    width: 60px;
}
.testimonials .testimonial-author {
    overflow: hidden;
}
.testimonials .carousel-arrow {
    position: relative;
    top: -65px;
}
.testimonials .carousel-arrow i {
    background: none repeat scroll 0 0 #F5F5F5;
    color: #777777;
    font-size: 20px;
    min-width: 25px;
    padding: 2px;
    text-align: center;
}
.testimonials .carousel-arrow i:hover {
    background: none repeat scroll 0 0 #72C02C;
    color: #FFFFFF;
}
.testimonials .carousel-control {
    opacity: 1;
    position: absolute;
    text-align: right;
    text-shadow: none;
    width: 100%;
}
.testimonials .carousel-control.left {
    left: auto;
    right: 27px;
}
.testimonials .carousel-control.right {
    right: 0;
}
.testimonials.testimonials-v1 .item p {
    position: relative;
}
.testimonials.testimonials-v1 .item p:after, .testimonials.testimonials-v1 .item p:before {
    bottom: -20px;
    left: 80px;
}
.testimonials.testimonials-v1 .item p:after {
    border-left: 0 solid rgba(0, 0, 0, 0);
    border-right: 22px solid rgba(0, 0, 0, 0);
    border-top: 22px solid;
}
.testimonials.testimonials-v2 .testimonial-info {
    padding: 0 20px;
}
.testimonials.testimonials-v2 p {
    padding-bottom: 15px;
}
.testimonials.testimonials-v2 .carousel-arrow {
    top: -55px;
}
.testimonials.testimonials-v2 .item p:after, .testimonials.testimonials-v2 .item p:before {
    bottom: 45px;
    left: 8%;
}
.testimonials.testimonials-v2 .item p:after {
    border-left: 25px solid rgba(0, 0, 0, 0);
    border-right: 0 solid rgba(0, 0, 0, 0);
    border-top: 20px solid;
}
.testimonials.testimonials-v1 p, .testimonials.testimonials-v2 p {
    background: none repeat scroll 0 0 #F5F5F5;
    font-size: 14px;
    font-style: italic;
    padding: 15px;
}
.testimonials.testimonials-v1 .item p:after, .testimonials.testimonials-v2 .item p:after {
    border-left-style: inset;
    border-right-style: inset;
    border-top-color: #F5F5F5;
    content: " ";
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
.testimonials-bg-dark .item p, .testimonials-bg-default .item p {
    color: #FFFFFF;
    font-weight: 200;
}
.testimonials-bg-dark .carousel-arrow i, .testimonials-bg-default .carousel-arrow i {
    color: #FFFFFF;
}
.testimonials-bg-default .item p {
    background: none repeat scroll 0 0 #72C02C;
}
.testimonials.testimonials-bg-default .item p:after, .testimonials.testimonials-bg-default .item p:after {
    border-top-color: #72C02C;
}
.testimonials-bg-default .carousel-arrow i {
    background: none repeat scroll 0 0 #72C02C;
}
.testimonials.testimonials-bg-default .carousel-arrow i:hover {
    background: none repeat scroll 0 0 #5FB611;
}
.testimonials-bg-dark .item p {
    background: none repeat scroll 0 0 #555555;
}
.testimonials.testimonials-bg-dark .item p:after, .testimonials.testimonials-bg-dark .item p:after {
    border-top-color: #555555;
}
.testimonials-bg-dark .carousel-arrow i {
    background: none repeat scroll 0 0 #555555;
    color: #FFFFFF;
}
.testimonials.testimonials-bg-dark .carousel-arrow i:hover {
    background: none repeat scroll 0 0 #333333;
}
.testimonials.testimonials-bg-dark .testimonial-info {
    color: #555555;
}
.panel-heading {
    color: #FFFFFF;
    padding: 5px 15px;
}
.panel .table {
    margin-bottom: 0;
}
.panel-u {
    border-color: #72C02C;
}
.panel-u > .panel-heading {
    background: none repeat scroll 0 0 #72C02C;
}
.panel-blue {
    border-color: #3498DB;
}
.panel-blue > .panel-heading {
    background: none repeat scroll 0 0 #3498DB;
}
.panel-red {
    border-color: #E74C3C;
}
.panel-red > .panel-heading {
    background: none repeat scroll 0 0 #E74C3C;
}
.panel-green {
    border-color: #2ECC71;
}
.panel-green > .panel-heading {
    background: none repeat scroll 0 0 #2ECC71;
}
.panel-sea {
    border-color: #1ABC9C;
}
.panel-sea > .panel-heading {
    background: none repeat scroll 0 0 #1ABC9C;
}
.panel-orange {
    border-color: #E67E22;
}
.panel-orange > .panel-heading {
    background: none repeat scroll 0 0 #E67E22;
}
.panel-yellow {
    border-color: #F1C40F;
}
.panel-yellow > .panel-heading {
    background: none repeat scroll 0 0 #F1C40F;
}
.panel-grey {
    border-color: #95A5A6;
}
.panel-grey > .panel-heading {
    background: none repeat scroll 0 0 #95A5A6;
}
.panel-dark {
    border-color: #555555;
}
.panel-dark > .panel-heading {
    background: none repeat scroll 0 0 #555555;
}
.panel-purple {
    border-color: #9B6BCC;
}
.panel-purple > .panel-heading {
    background: none repeat scroll 0 0 #9B6BCC;
}
.panel-aqua {
    border-color: #27D7E7;
}
.panel-aqua > .panel-heading {
    background: none repeat scroll 0 0 #27D7E7;
}
.panel-brown {
    border-color: #9C8061;
}
.panel-brown > .panel-heading {
    background: none repeat scroll 0 0 #9C8061;
}
.panel-dark-blue {
    border-color: #4765A0;
}
.panel-dark-blue > .panel-heading {
    background: none repeat scroll 0 0 #4765A0;
}
.panel-light-green {
    border-color: #79D5B3;
}
.panel-light-green > .panel-heading {
    background: none repeat scroll 0 0 #79D5B3;
}
.panel-default-dark {
    border-color: #585F69;
}
.panel-default-dark > .panel-heading {
    background: none repeat scroll 0 0 #585F69;
}
.progress-u {
    box-shadow: none;
}
.progress-u .progress-bar {
    box-shadow: none;
}
.progress-lg {
    height: 25px;
}
.progress-lg p {
    padding-top: 3px;
}
.progress-sm {
    height: 12px;
}
.progress-xs {
    height: 7px;
}
.progress-xxs {
    height: 3px;
}
.progress {
    background: none repeat scroll 0 0 #E5E5E5;
}
.progress-bar-u {
    background: none repeat scroll 0 0 #72C02C;
}
.progress-bar-blue {
    background: none repeat scroll 0 0 #3498DB;
}
.progress-bar-orange {
    background: none repeat scroll 0 0 #E67E22;
}
.progress-bar-red {
    background: none repeat scroll 0 0 #E74C3C;
}
.progress-bar-purple {
    background: none repeat scroll 0 0 #9B6BCC;
}
.progress-bar-aqua {
    background: none repeat scroll 0 0 #27D7E7;
}
.progress-bar-brown {
    background: none repeat scroll 0 0 #9C8061;
}
.progress-bar-dark-blue {
    background: none repeat scroll 0 0 #4765A0;
}
.progress-bar-light-green {
    background: none repeat scroll 0 0 #79D5B3;
}
.progress-bar-dark {
    background: none repeat scroll 0 0 #555555;
}
.stars-existing {
    color: #72C02C;
    cursor: pointer;
}
.star-lg {
    font-size: 30px;
}
.star-sm {
    font-size: 25px;
}
.star-xs {
    font-size: 20px;
}
.star-default {
    font-size: 16px;
}
img.img-bordered {
    border: 1px solid #EEEEEE;
    padding: 3px;
}
img.img-circle {
    border-radius: 50% !important;
}
.responsive-video {
    height: 0;
    margin-bottom: -3px;
    padding-bottom: 56.25%;
    padding-top: 1px;
    position: relative;
}
.responsive-video iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.margin-left-5 {
    margin-left: 5px;
}
.margin-right-5 {
    margin-right: 5px;
}
.no-top-space {
    margin-top: 0;
    padding-top: 0;
}
.no-bottom-space {
    margin-bottom: 0;
    padding-bottom: 0;
}
.margin-bottom-5, .margin-bottom-10, .margin-bottom-15, .margin-bottom-20, .margin-bottom-25, .margin-bottom-30, .margin-bottom-35, .margin-bottom-40, .margin-bottom-45, .margin-bottom-50, .margin-bottom-55, .margin-bottom-60 {
    clear: both;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-bottom-25 {
    margin-bottom: 25px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-35 {
    margin-bottom: 35px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-bottom-45 {
    margin-bottom: 45px;
}
.margin-bottom-50 {
    margin-bottom: 50px;
}
.margin-bottom-55 {
    margin-bottom: 55px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-bottom-175 {
    margin-bottom: 175px;
}
.width-50
{
    width: 50%;
}
@media (max-width: 768px) {
.sm-margin-bottom-10 {
    margin-bottom: 10px;
}
.sm-margin-bottom-20 {
    margin-bottom: 20px;
}
.sm-margin-bottom-30 {
    margin-bottom: 30px;
}
.sm-margin-bottom-40 {
    margin-bottom: 40px;
}
.sm-margin-bottom-50 {
    margin-bottom: 50px;
}
.sm-margin-bottom-60 {
    margin-bottom: 60px;
}
}
@media (max-width: 992px) {
.md-margin-bottom-10 {
    margin-bottom: 10px;
}
.md-margin-bottom-20 {
    margin-bottom: 20px;
}
.md-margin-bottom-30 {
    margin-bottom: 30px;
}
.md-margin-bottom-40 {
    margin-bottom: 40px;
}
.md-margin-bottom-50 {
    margin-bottom: 50px;
}
.md-margin-bottom-60 {
    margin-bottom: 60px;
}
}
.color-sea {
    color: #1ABC9C;
}
.color-red {
    color: #E74C3C;
}
.color-aqua {
    color: #27D7E7;
}
.color-blue {
    color: #3498DB;
}
.color-grey {
    color: #95A5A6;
}
.color-dark {
    color: #555555;
}
.color-green {
    color: #72C02C;
}
.color-brown {
    color: #9C8061;
}
.color-light {
    color: #FFFFFF;
}
.color-orange {
    color: #E67E22;
}
.color-green1 {
    color: #2ECC71;
}
.color-purple {
    color: #9B6BCC;
}
.color-dark-blue {
    color: #4765A0;
}
.color-light-grey {
    color: #585F69;
}
.color-light-green {
    color: #79D5B3;
}
.bg-color-dark, .bg-color-sea, .bg-color-red, .bg-color-aqua, .bg-color-blue, .bg-color-grey, .bg-color-green, .bg-color-brown, .bg-color-orange, .bg-color-green1, .bg-color-purple, .bg-color-dark-blue, .bg-color-light-grey, .bg-color-light-green {
    color: #FFFFFF;
}
.bg-color-dark {
    background-color: #555555;
}
.bg-color-sea {
    background-color: #1ABC9C;
}
.bg-color-red {
    background-color: #E74C3C;
}
.bg-color-aqua {
    background-color: #27D7E7;
}
.bg-color-blue {
    background-color: #3498DB;
}
.bg-color-grey {
    background-color: #95A5A6;
}
.bg-color-green {
    background-color: #72C02C;
}
.bg-color-brown {
    background-color: #9C8061;
}
.bg-color-orange {
    background-color: #E67E22;
}
.bg-color-green1 {
    background-color: #2ECC71;
}
.bg-color-purple {
    background-color: #9B6BCC;
}
.bg-color-dark-blue {
    background-color: #4765A0;
}
.bg-color-light-grey {
    background-color: #585F69;
}
.bg-color-light-green {
    background-color: #79D5B3;
}
.rounded {
    border-radius: 4px !important;
}
.rounded-x {
    border-radius: 50% !important;
}
.rounded-2x {
    border-radius: 10px !important;
}
.rounded-3x {
    border-radius: 15px !important;
}
.rounded-4x {
    border-radius: 20px !important;
}
.rounded-top {
    border-radius: 4px 4px 0 0 !important;
}
.rounded-left {
    border-radius: 4px 0 0 4px !important;
}
.rounded-right {
    border-radius: 0 4px 4px 0 !important;
}
.rounded-bottom {
    border-radius: 0 0 4px 4px !important;
}
.overflow-h {
    overflow: hidden;
}
.overflow-a {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden;
}
.lft-img-margin {
    margin: 0 20px 5px 0;
}
.rgt-img-margin {
    margin: 0 0 5px 10px;
}
.padding-left-5 {
    padding-left: 5px;
}
.img-width-200 {
    width: 200px;
}
.content {
    padding-bottom: 20px;
    padding-top: 20px;
}
.text-justify p {
    text-align: justify;
}
.bg-light {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #E5E5E5;
    margin-bottom: 10px;
    padding: 10px 15px;
}
.bg-light:hover {
    border: 1px solid #BBBBBB;
}
.hover-effect {
    transition: all 0.4s ease-in-out 0s;
}
.hover-effect-kenburn {
    left: 10px;
    margin-left: -10px;
    position: relative;
    transition: all 0.8s ease-in-out 0s;
}
.hover-effect-kenburn:hover {
    transform: scale(2) rotate(5deg);
}

.fc-border-separate thead tr, .table thead tr {
    background-color: #eef4f7;
    font-size: 12px;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
}
.but-right{ float:right; margin-bottom:20px;}
.mrg{ padding:5px 0 !important; width:97% !important; float:left !important}
.mrg2{ padding:0 5px !important;}
.mrg3{ padding:6px !important;}
.mrg4{ padding:0 !important; width:auto !important;}
.no-mrg{ margin:0px !important; padding:0px !important;}
.text-size-18{ font-size:18px !important; color:#000 !important; padding:0.2em 0 0.3em !important; font-weight:normal !important;}
.no-mrg2{ margin:0 0 30px 0px !important; padding:0px !important;}
.no-mrg3{ margin:0 0 20px 0px !important; padding:0px !important;}
.mrg5{ padding:6px !important; margin-bottom:10px;}
.right-align{ text-align:right; color:#686767; font-size:12px;}
.f-right{ float: right !important;}
.f-left{ float:left !important;}
.f-left2{ float:left !important; text-align:center; margin:0px; padding:6px 0 0 0 !important;}
.f-left3{ float:left; text-align: left; margin:0px; padding:6px 0 0 0 !important;}

.colsspace{margin: 0; padding:10px 0 5px 15px; float:left; font-size:13px !important;}
.colsspace2{margin: 0; padding:0px 0 5px 15px; float:left; font-size:13px !important;}
.text-size-11{ font-size:11px !important; color:#5b5b5b;}
.col-md-13{ width:95.667%; float:left;}
.mrg6{ padding:0 5px !important;  margin:20px 15px 0 0 !important;}
.mrg7{ padding:0 5px !important;  margin:10px 15px 0 0 !important;}
.mrg8{ padding:0 0 0 5px !important;}
.mrg-top{margin:20px 0 0 0 !important; padding:0px !important;}
.in-img{ width:80px !important;text-align:center; padding:5px 0 !important;}
.in-img img{ width:80px; height:80px;}
.in-img-name{ width:80px;text-align:center;}
.mrg-auto{ margin:14px auto;}
.mrg-auto2{ margin:10px auto; padding:0px;}
.no-pdn{ padding:0px !important;}
.text-12{ font-size:12px; color:#939393;}
.btn-pdn{ padding:8px 13px 9px 13px !important;}
.align-center{ text-align:center;}
.align-right{ text-align: right;}
.border-right{ border-right:solid 1px #e1dede;}
.border-left{ border-left:solid 1px #e1dede;}
.pdn-top-bot{ padding:5px 15px; margin:0px; font-size:18px;}
.pdn-top-bot2{ padding:10px 12px !important; margin:0px;}
.pdn-top-bot3{ padding:5px 15px 5px 0; margin:0px; font-size:16px;}
.mrg-bottom{ margin:0 0 10px 0 !important; padding:0px;}
.border-top{ border-top:solid 1px #e1dede; padding:10px 0 10px 0; text-align:center; font-size:20px;}
.text-center{ text-align:center;}
.border-bot{ border-bottom:solid 1px #e1dede;}
.text-22{ font-size:22px;}
.pdn-top{ padding-top:20px;}
.total-cast{ font-size:22px;}


.btn{ padding:6px 12px;}
.text-size-14 { color: #000000 !important; font-size: 14px !important; font-weight: normal !important;padding: 0.2em 0 0.3em !important;}
.text-size-12 {
    color: #686767;
    font-size: 12px !important;
    text-align: left;
}
.mapimg{ width:100%; height:auto;}
/*.cnl-btn-lg{ width:104px;}
.post-btn-lg{ width:148px;}*/
.invalid {color: #B94A48 !important;display: block;font-size: 11px !important;font-style: normal;line-height: 15px; margin-top: 6px;padding: 0 1px;}
.pdn-top-15{ padding-top:15px; margin:0px;}
.clr{ clear:both;}
.input-btn{ display: inline-block; line-height: normal; margin: -5px 0 0;padding: 10px 24px 11px 24px;}
.mrg-botton-5{ margin:0 0 5px 0 !important;}
.mrg-botton-13{ margin:0 0 13px 0 !important;}

.mrg10{float: left !important;padding: 5px 0 !important;}
.invite-select{ background:#ebf8fe !important;}
.pdn-auto{ padding:0 10px 10px 10px !important;}
.pdn-auto2{ padding:10px !important;}
.pdn-btn{ font-size: 13px !important0;padding: 7px 11px 8px !important; border-radius:0 5px 5px 0; font-size:14px; margin:0 0 0 -2px;}
.text-30a {color: #333333 !important;font-size: 30px !important;line-height: 24px !important; margin: 0 0 20px !important;padding: 0 0 15px !important;}
.text-size-14{ font-size:14px !important; color:#000 !important; padding:0 !important; font-weight:normal !important;}
.margin-bottom-80{ margin:125px;}
.rat-col1{ width:80%; float:left;}
.rat-col2{ width:20%; float:right;}
.mini-profile{ width:270px !important;}
.bid-mrg{ margin:0 0 10px 0 !important; padding:0 !important;}
.bid-mrg1{ margin:0 !important; padding:0 5px 0 0 !important;}
.no-mrg4{ margin:0 0 9px 0px !important; padding:0px !important;}
.mrg11 { margin: 10px 0 10px 0 !important;}
.mrg12 { margin: 10px 0 10px 0 !important; padding:0px !important;}
