<style type="text/css">
img{border:0;}
a{ color:#0000ff; text-decoration:none; }
a:hover{ color:#0000ff; text-decoration:underline;}
p{padding:5px 0;}
</style>

Test email sending
<table width="600px" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#f1f1f1" style="border:1px solid #bbbbbc;">
<tr>
<td bgcolor="#e6e6e6" style="background:url(${staticResourceURL}email/header.png) repeat-x top #e6e6e6; border-bottom:solid 1px #cccccc; padding:10px 0 5px 0;">
<a href="${erandooURL}" target="_blank"><img src="${staticResourceURL}email/logo.png" /></a>
</td>
</tr>
<tr>
<td>
<table width="100%" border="0" cellpadding="0" cellspacing="10">
<tr>
<td colspan="2" style="font-size:20px;">Join us on <span style="color:#3d9d12;">erandoo!</span></td>
</tr>
<tr>
<td width="380" valign="top"><p style="font-weight:normal; padding:0;">Hi,</p>
<p>${bloggerObj.displayName} wants you to join erandoo!</p>
<p style="width:370px;word-wrap:break-word;">${comments}</p>
<p>To learn more about erandoo please <a href="${erandooURL}">click here</a>.</p>
</td>
<td width="220">
<table width="100%" border="0" bgcolor="#f8f8f8" style="border:5px solid #e6e6e6; margin-top:3px">
<tr>
<td align="left" style="font-weight:normal; padding:0 5px;">
<p>erandoo allows you to</p>
<ul style="padding:2px 0px 2px 20px;">
<li>Voice your emotions </li>
<li>Follow friends</li>
<li>Listen, Like and Share erandoos with your friends</li>
</ul>	  
</td>
</tr>
</table>  
</td>
</tr>
<tr><td><p>Team erandoo ${fullName}</p></td>
</tr>
</table>
</td></tr>
<tr><td bgcolor="#656565" style="font-family:Arial; font-size:12px; padding:5px; color:#ffffff;">
<table width="100%" border="0" cellpadding="0" cellspacing="5">
  <tr>
    <td><a href="$erandooURL/" target="_blank" style="color:#ffffff; text-decoration:none;">www.erandoo.com</a> </td>
    <td align="right">
    <a href="http://www.facebook.com/erandoo" target="_blank"><img src="${staticResourceURL}email/facebook_icon.png" alt="Facebook" /></a> 
    <a href="https://twitter.com/#!/erandoo" target="_blank"><img src="${staticResourceURL}email/twitter_icon.png" alt="Twitter" /></a> 
    <a href="https://plus.google.com/104152577284984070936" target="_blank"><img src="${staticResourceURL}email/google_icon.png" alt="Google plus"/></a> 
    <a href="http://www.linkedin.com/company/kirusa" target="_blank"><img src="${staticResourceURL}email/linkedin_icon.png" alt="Linkedin" /></a>
    </td>
  </tr>
</table>
</td></tr>
</table>