
/* load open sans font from local */
@import url(fonts/font.css);

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font-family: 'Open Sans', sans-serif; font-weight:normal; font-size:14px;
	background: #EFEFEF;
}

#page
{
/*	margin-top: 5px;*/
	margin-bottom: 5px;
	background: #f5f6f8;
	/*border: 1px solid #C9E0ED;*/
}

#header
{
	margin: 0;
	padding: 0;
	background-color: #FFFFFF !important;
    background-image: none !important;
    border-bottom: 1px solid #D1D4D7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    filter: none !important;
/*	border-top: 3px solid #C9E0ED;
*/}
#header #logo
{
	border-right: 1px solid #D3D3D3;
    display: inline-block;
    margin-right: 0;
    margin-top: 0;
    width: 224px; color:#13c4a5; padding:5px 20px; font-size:24px; float:left;
*/}

#content
{
   /* padding:0 20px 0;*/
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #ddd;
}



#mainmenu
{
	background:#233444;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.5em;
	margin:1em 0;
	border:1px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
 background-color: #EEEEEE;
    border: 0 none !important;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 1em;
    padding: 8px;

}

div.breadcrumbs span
{
	font-weight: normal;
}

div.search-form
{
	padding: 10px;
	/*margin: 10px 0;*/
	background: #fff; border-top: none;border-right:solid 1px #E3E8ED;border-bottom:solid 1px #E3E8ED;border-left:solid 1px #E3E8ED;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
/* added by us*/
.status
{
	text-align: left;
}
.multi-action-controls
{
	text-align:right; float:left;
}
.space{ padding:0 5px 0 0;}
/* drop down list */
#mainmenu ul { list-style: none; margin: 0; padding: 0; position: relative; height: 30px; }
#mainmenu ul li { display: block; height: 28px; float: left; overflow: visible; /*background: url("bg.gif")*/ repeat-x scroll left top white}
#mainmenu ul li span{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 8px;
    display: block;
    float: left;
}
#mainmenu ul li:hover > ul { display: block; }
#mainmenu ul li a { float: left; display: block; }
#mainmenu ul li ul { display: none; position: absolute; top: 100%;
                    background: #000; color: #fff; height: auto;
}

#mainmenu ul li ul li a { color: #ccc; padding: 4px 14px; display: block; }
#mainmenu ul li ul li.active a,
#mainmenu ul li ul li a:hover { 
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 8px;
    display: block;
    float: left;
    background-color: transparent;
}

#mainmenu ul li.active a{
    background-color: transparent;
    color: #FFFFFF;
}








